<h1>Show Articles</h1>
<b>Tittle : </b><%= @article.title %></br> <br>
<strong>Description : </strong><%= @article.desc %><br><br>
<%= link_to 'edit' ,edit_article_path(@article) %> |
<%= link_to 'delete' , article_path(@article), method: :delete ,
 data: { confirm: "Are you sure ?"} %> |
<%= link_to 'Return to Articles List' , articles_path %> 